<link rel="stylesheet" href="/css/menuItem.css" />

<%- include ('components/menuItemNavbar') %>

<div class="wg_menu-item">
  <div class="wg_menu-item_title">
    <h1>Appetizer</h1>
  </div>
  <div class="wg_menu-item_container">
    <% productChunks.forEach(function(chunk) { chunk.forEach(function(product) {
    %>
    <form action="/add-to-cart" method="post">
      <div class="wg_menu-item_container-box">
        <div class="wg_menu-item_container-box_image">
          <img src="<%= product.imagePath %>" alt="" />
        </div>
        <div class="wg_menu-item_container-box_name">
          <h1><%= product.title %></h1>
          <p><%= product.description %></p>
        </div>
        <div class="wg_menu-item_container-box_cost">
          <p><%= product.price %></p>
        </div>
        <div class="wg_menu-item_container-box_addToCart">
          <div class="wg_menu-item_container-box_addToCart-select">
            <select name="size" id="ItemSize">
              <option value="regular">Regular</option>
              <option value="large">Large</option>
              <option value="Extra-Large">Extra Large</option>
            </select>
          </div>
          <div class="wg_menu-item_container-box_addToCart-button">
            <button>ADD TO CART</button>
          </div>
        </div>
      </div>
    </form>
    <% }); %> <% }); %>
  </div>
</div>
