<link rel="stylesheet" href="/css/cart.css">

<div class="wg_cart-navbar">
    <div class="wg_cart-navbar_image">
        <img src="/images/icon _Pizza Slice_.png" alt="">
    </div>
    <div class="wg_cart-navbar_title">
        <p>Wingman</p>
    </div>
    <button onclick="window.location.href='/category'">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-caret-left"
            viewBox="0 0 16 16">
            <path class="wg_menu-navbar_back"
                d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z" />
        </svg>
    </button>
</div>

<% if (products) { %>
    <div class="wg_cart_bill">
        <div class="wg_cart_bill-title">
            <p>Bill Details</p>
            <div class="added">
                <% products.forEach(function(product) { %>
                    <h1>
                        <%= product.item.title %>
                        <a href="/reduce/<%= product.item._id %>">-</a><a href="#" class="border">
                                <%= product.qty %>
                            </a>
                            <a href="/add/<%= product.item._id %>">+</a>
                            <p>price:<%= product.price %> $</p>
                            <% }); %>
                    </h1>
            </div>

        </div>

    </div>
    <p id="totalPrice">Total: <%= totalPrice %> $</p>

    <div class="wg_cary_bill-button">
        <button onclick="window.location.href='/progress'">Place Order
    </div>
    <% } else { %>
        <div class="empty">
            <p>There is no item in the cart</p>
        </div>
        <% } %>